
 <nav class="navbar navbar-expand mb-4" role="banner">
    <img class="to-do-img" src="../assets/images/to-do.jpg" alt="To-do-Image.jpg">
    <a routerLink='/' class="navbar-brand">To-do List</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" [socialShare]="'fb'">fb</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [socialShare]="'tw'">tw</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [socialShare]="'in'">Lin</a>
        </li>
    </ul>
 </nav>  
<div role="navigation" class="nav-content">
    <ul id="nav-mobile" class="tabs">
        <li class="tab"><a routerLink='' class="mat">Home</a></li>
        <li class="tab"><a routerLink='addTodo'>Add To-do List</a></li>
        <li class="tab"><a routerLink='viewTodo'>View To-do List</a></li>
    </ul>
</div>

