
 <nav class="navbar navbar-expand mb-4" role="banner">
    <img class="to-do-img" src="../assets/images/to-do-app-icon-white.png" alt="To-do-Icon.png">
    <a routerLink='/' class="navbar-brand">To-do List</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link fa fa-facebook" [socialShare]="'fb'"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link fa fa-twitter" [socialShare]="'tw'"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link fa fa-linkedin" [socialShare]="'in'"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link fa fa-tumblr" [socialShare]="'tr'"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link fa fa-reddit" [socialShare]="'rd'"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link fa fa-pinterest" [socialShare]="'pn'"></a>
        </li>

    </ul>
 </nav>  
<div role="navigation" class="nav-content">
    <ul id="nav-mobile" class="tabs">
        <li class="tab"><a routerLink='' class="mat">Home</a></li>
        <li class="tab"><a routerLink='addTodo'>Add To-do List</a></li>
        <li class="tab"><a routerLink='viewTodo'>View To-do List</a></li>
    </ul>
</div>

